.bg
.jumbotron
  .text-center
    %h3
      %i
        Sending Bible Verses via SMS
    %h3
      #{link_to "Sign Up", new_user_registration_path, class: 'btn btn-primary'} today!

.container
  .col-md-4
    .bs-callout.bs-callout-primary
      %h4
        %span.glyphicon.glyphicon-phone{"aria-hidden" => "true"}
        Receive encouraging Bible verses straight to your phone each day.
  .col-md-4
    .bs-callout.bs-callout-success
      %h4
        %span.glyphicon.glyphicon-list-alt{"aria-hidden" => "true"}
        Over 500 hand-picked New Testament verses ready to be dispensed.
  .col-md-4
    .bs-callout.bs-callout-default
      %h4
        %span.glyphicon.glyphicon-time{"aria-hidden" => "true"}
        Create your own delivery schedule for timely supply.

#instagram
  .album
    .container
      %h2 Follow Us On Instagram
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate.
      Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis
      dolor, in sagittis nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan.
      Aliquam in felis sit amet augue.
      %br/
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate.
      Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis
      dolor, in sagittis nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan.
      Aliquam in felis sit amet augue.
      %br/
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate.
      Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis
      dolor, in sagittis nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan.
      Aliquam in felis sit amet augue.
      %br/
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate.
      Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis
      dolor, in sagittis nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan.
      Aliquam in felis sit amet augue.
#contact
  .album
    .container
      %h3 
        %u
          Contact Us:
      %h5
        If you have any questions, suggestions, or simply want to share your experiences using this Web App, we would love to hear from you!
        %p
          Please send us an email at
          %a{:href => "mailto:open.manna.app@gmail.com"}
            open.manna.app@gmail.com
