<div class="container">
  <div class="bg"></div>
  <div class="jumbotron">
    <div class="text-center">
      <h3>
        <i>
          Sending Bible Verses via SMS
        </i>
      </h3>
      <h3>
      <%= link_to "Sign Up!", new_user_registration_path, class: 'btn btn-primary' %>
      </h3>
    </div>
  </div>
  <div class="album">
    <div class="container">
      <div class="col-md-4">
        <div class="bs-callout bs-callout-primary">
          <h4>
            <span aria-hidden="true" class="glyphicon glyphicon-phone"></span>
            Receive encouraging Bible verses straight to your phone each day.
          </h4>
        </div>
      </div>
      <div class="col-md-4">
        <div class="bs-callout bs-callout-success">
          <h4>
            <span aria-hidden="true" class="glyphicon glyphicon-list-alt"></span>
            Over 1000 hand-picked Old and New Testament verses ready to be dispensed.
          </h4>
        </div>
      </div>
      <div class="col-md-4">
        <div class="bs-callout bs-callout-default">
          <h4>
            <span aria-hidden="true" class="glyphicon glyphicon-time"></span>
            Create your own delivery schedule for timely supply.
          </h4>
        </div>
      </div>
    </div>
  </div>
  <div class="album">
    <div class="container" style="text-align: center">
      <h4>
        Follow Us On Instagram!
        <%= link_to 'https://www.instagram.com/openmanna/', target: '_blank' do %>
          <img height="20" width="20" src="/assets/glyph-logo_May2016.png"/>
        <% end %>
        <br>
      </h4>
      <h5>
        <a href="mailto:open.manna.app@gmail.com">
          open.manna.app@gmail.com
        </a>
        <span class="glyphicon glyphicon-envelope"></span>
      </h5>
    </div>
  </div>
</div>

