.container
  %br
  %h1 Subscriptions
  %br
  %h5
    %p
      1) Create a new subscription by clicking the "New Subscription" button below. 
    %p
      2) Activate your subscription by clicking on the "Verify" button within the table.
    %p
      3) A 4 digit PIN number will be sent to your phone. Enter the number within 5 minutes to complete your activation.

  %br
  = link_to "New Subscription", new_subscription_path, class: "btn btn-success"
  %p
  %body
    = render "table", subscriptions: @subscriptions


.modal.fade.activation-modal{"aria-labelledby" => "mySmallModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog.modal-sm{:role => "document"}
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
        %h4#activationModal.modal-title
          Want to Verify Your Subscription Now?
      .modal-body
        Remember, your subscription won't start until you verify your phone number.
      .modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Later
        %button.btn.btn-primary{:type => "button"} Verify Now

- if flash[:activation_modal]
  :javascript
    debugger;
    $('.activation-modal').modal('show');
